@charset "utf-8"
/**Ye Yint Thet Khine(Start)**/
.sidebar {
	margin:0;
	padding:0;
}

.sidebar {
	padding:0;
	float:left;
	width:300px;
	background:#f7f7f7;
}
.sidebar .gadget {
	margin:0;
	padding:20px 16px 20px 30px;
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#959595;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:4px 0 4px 12px;
	width:220px;
}

ul.sb_menu li a, ul.ex_menu li a {
	color:#5f5f5f;
	text-decoration:none;
	margin-left:-12px;
	padding-left:12px;
	background:url(images/menu_link.jpg) no-repeat left center;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover, ul.sb_menu li.active a, ul.ex_menu li.active a {
	color:#d76002;
	font-weight:bold;
	background:url(images/menu_hover.jpg) no-repeat left center;
}
ul.sb_menu li a:hover {
	text-decoration:underline;
}

ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:5px 2px;
	height:16px;
	background:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:2px;
	background:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
#search span {
	width:216px;
	display:block;
	background:#FFF;
	height:29px;
	margin:8px 0 0;
	padding:0;
	border:1px solid #e9eaea;
}
#search input#s {
	float:left;
	width:170px;
	padding:7px 0 7px 10px;
	margin:0;
	border:0;
	background:none;
	color:#909090;
	font:normal 12px/15px Arial, Helvetica, sans-serif;
}
#search .btn {
	float:left;
	padding:0;
	margin:0;
	border:0;
	width:auto;
}
/**Ye Yint Thet Khine(End)**/

/**Michael Pai(Start)**/
.nav {
	background: -webkit-linear-gradient(left, #230304, #1A0607, #410608, #1A0607, #230304);
    background: -o-linear-gradient(left, #230304, #1A0607, #410608, #1A0607, #230304);
    background: -moz-linear-gradient(left, #230304, #1A0607, #410608, #1A0607, #230304);
    background: linear-gradient(left, #230304, #1A0607, #410608, #1A0607, #230304);
	font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace, Jokerman;
}

.nav ul {
    list-style-type: none;
    margin: auto;
	width: 75%;
	padding: 0% 12.5%;
    overflow: hidden;
	
}

.nav li {
    float: left;
}

.nav a {
    display: block;
    color: #F36D0C;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
}

ul.nav li a:hover, ul.nav li.current a {
    color: #FFFFFF;
}

.footer {
    width:100%;
    margin: auto;
	text-align:center;
	background: -webkit-linear-gradient(left, #230304, #1A0607, #410608, #1A0607, #230304);
    background: -o-linear-gradient(left, #230304, #1A0607, #410608, #1A0607, #230304);
    background: -moz-linear-gradient(left, #230304, #1A0607, #410608, #1A0607, #230304);
    background: linear-gradient(left, #230304, #1A0607, #410608, #1A0607, #230304);
	color: #F36D0C;
}

.footer a {
	color: #F36D0C;
}